<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ミニゲーム詳細</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/detail.css">
</head>
<body>
    <div class="header">
        <h1><img src="img/bani_opacity1.png"></h1>
        <ul class="navi">
        <li><a href="/">Peek-A-Boo!</a></li>
        <li id="navi2"><a href="/mvList.html">動画一覧</a></li>
        <li><a href="#">ミニゲーム一覧</a></li>
        <li><a href="#">お問い合わせ</a></li>
        </ul>
    </div>

    <menu>
        <button><a href="/myPage.html">マイページ</a></button>
    </menu>

    <main>
        <div class="dtWrap">
            <h1>ミニゲームタイトル</h1>
            <!-- {{-- 動画フレーム --}} -->
            <article>

            </article>
            <!-- {{-- 動画フレームここまで --}} -->

            <!-- {{-- プレイボタン --}} -->
            <button class="playBtn">
                <a>プレイ</a>
            </button>
            <!-- {{-- プレイボタンここまで --}} -->

            <!-- {{-- ミニゲーム説明 --}} -->
            <div class="gm_caption">
                <p></p>
                <table>
                    <tr>
                        <th>ジャンル：</th><td></td>
                        <th>リリース日：</th><td></td>
                        <th>再生回数：</th><td></td>
                    </tr>
                </table>
            </div>
            {{-- ミニゲーム説明ここまで --}}
        </div>
    </main>

    <footer class="gm_footer">
        <div>
            <figure></figure>
            <h2><a href="#">ミニゲームタイトル</a></h2>
            <p>詳細</p>
        </div>
        <div>
            <figure></figure>
            <h2><a href="#">ミニゲームタイトル</a></h2>
            <p>詳細</p>
        </div>
        <div>
            <figure></figure>
            <h2><a href="#">ミニゲームタイトル</a></h2>
            <p>詳細</p>
        </div>
    </footer>

</body>
</html>
