<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/detail.css">
    <title>動画詳細</title>
</head>
<body>
    <div class="header">
        <h1><img src="img/bani_opacity1.png"></h1>
        <ul class="navi">
        <li><a href="#">Peek-A-Boo!</a></li>
        <li id="navi2"><a href="/mvList.html">動画一覧</a></li>
        <li><a href="#">ミニゲーム一覧</a></li>
        <li><a href="#">お問い合わせ</a></li>
        </ul>
    </div>

    <menu>
        <button><a href="/myPage.html">マイページ</a></button>
    </menu>

    <main>
        <div class="dtWrap">
            <h1>動画タイトル</h1>
            <!-- {{-- 動画フレーム --}} -->
            <article>

            </article>
            <!-- {{-- 動画フレームここまで --}} -->
            <div class="buttons">
                <button>ダウンロード</button>
                <button>お気に入り</button>
            </div>
            <!-- {{-- 動画概要 --}} -->
            <p></p>
            <!-- {{-- 動画概要ここまで --}} -->

            <!-- {{-- 関連動画 --}} -->
            <div class="aside_title">
                <h2>↓おすすめ動画↓</h2>
            </div>
            <aside class="mv_aside">
                <div class="mv_aside_section">
                    <h3><a href="#">動画タイトル</a></h3>
                    <figure></figure>
                    <table>
                        <tr>
                            <th>リリース日：</th><td></td>
                            <th>再生回数：</th><td></td>
                        </tr>
                    </table>
                </div>
                <div class="mv_aside_section">
                    <h3><a href="#">動画タイトル</a></h3>
                    <figure></figure>
                    <table>
                        <tr>
                            <th>リリース日：</th><td></td>
                            <th>再生回数：</th><td></td>
                        </tr>
                    </table>
                </div>
                <div class="mv_aside_section">
                    <h3><a href="#">動画タイトル</a></h3>
                    <figure></figure>
                    <table>
                        <tr>
                            <th>リリース日：</th><td></td>
                            <th>再生回数：</th><td></td>
                        </tr>
                    </table>
                </div>
                <div class="mv_aside_section">
                    <h3><a href="#">動画タイトル</a></h3>
                    <figure></figure>
                    <table>
                        <tr>
                            <th>リリース日：</th><td></td>
                            <th>再生回数：</th><td></td>
                        </tr>
                    </table>
                </div>
                <div class="mv_aside_section">
                    <h3><a href="#">動画タイトル</a></h3>
                    <figure></figure>
                    <table>
                        <tr>
                            <th>リリース日：</th><td></td>
                            <th>再生回数：</th><td></td>
                        </tr>
                    </table>
                </div>
                <div class="mv_aside_section">
                    <h3><a href="#">動画タイトル</a></h3>
                    <figure></figure>
                    <table>
                        <tr>
                            <th>リリース日：</th><td></td>
                            <th>再生回数：</th><td></td>
                        </tr>
                    </table>
                </div>
            </aside>
            <!-- {{-- 関連動画ここまで --}} -->
        </div>
    </main>
</body>
</html>
